body {
    margin: 0;
    background-color: #000;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}


.navBar {
    display: flex;
    align-items: center;
    gap: 20px;
    background-color: #000;
    border-bottom: 1px solid #222;
    padding: 12px 20px;
    position: sticky;
    top: 0;
    z-index: 10;
}

.navBar1{
    flex: 1;
    display: flex;
    justify-content: center;
}

.navBar1 ul {
    display: flex;
    gap: 10px;
    padding: 0;
    margin: 0;
    
}

.navBar1 li {
   
    list-style: none;
    color: rgb(14, 13, 13);
    font-weight: bold;
    cursor: pointer;
}

.navBar .logo{
    display: flex;
    align-items: center;
}

img{
   
    height: 20px;
    width: auto;
}




.library{
    border: 2px gray;
     
   background-color: #121212;
    border-radius: 8px;
    padding: 12px;
    border: 2px black;
    height:fit-content;
    width: 230px;
}


.library ul{
    display: flex;
    margin: 0px;
    padding: 0px;
    list-style: none;
    
    
}

.library li{

    
    margin: 10px;
    list-style: none;
    border: 2px solid grey;
    height: max-content;
    width: max-content;
    border-radius: 30px;

    
    
}


.content{
    display: flex;
    background-color: #121212;
    border-radius: 8px;
    padding: 12px;
    width:max-content ;
    margin: 30px;
    

     
    
}
.content ul {
    display: flex;
    gap: 8px;
    padding: 0;
    margin: 0;
}



.content li {
    list-style: none;
    padding: 8px 14px;
    border-radius: 20px;
    background-color: #2a2a2a;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.content li:hover {
    background-color: #3a3a3a;
}
.content li:first-child {
    background-color: #fff;
    color: #000;
    font-weight: 600;
}



.layout {
    display: flex;
    height: calc(100vh - 100px);
}

.sidebar {
    width: 260px;
    padding: 10px;
}

.main {
    flex: 1;
    padding: 20px;
}
