body {
    margin: 0;
    background-color: #000;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}


.navBar {
    display: flex;
    align-items: center;
    gap: 20px;
    background-color: #1e1b1b;
    border-bottom: 1px solid #222;
    padding: 12px 20px;
    position: sticky;
    top: 0;
    z-index: 10;
}

.navBar1 {
    flex: 1;
    display: flex;
    justify-content: center;
}

.navBar1 ul {
    display: flex;
    gap: 50px;
    padding: 0;
    margin: 0;

}

.navBar1 li {

    list-style: none;
    color: rgb(240, 234, 234);
    font-weight: bold;
    cursor: pointer;
}


.navBar .logo {
    display: flex;
    align-items: center;


}

img {

    height: 30px;
    width: 30px;
    border-radius: 100px;

}




.library {
    border: 2px rgb(180, 8, 8);
    cursor: pointer;
    background-color: #121212;
    border-radius: 8px;
    padding: 12px;
    border: 2px rgb(12, 8, 8);
    height: fit-content;
    width: 230px;
}


.library ul {
    display: flex;
    margin: 0px;
    padding: 0px;
    list-style: none;


}

.library li {


    margin: 10px;
    list-style: none;
    border: 2px solid grey;
    height: max-content;
    width: max-content;
    border-radius: 30px;



}


.content {

    display: flex;
    background-color: #121212;
    border-radius: 8px;
    padding: 12px;
    width: max-content;
    margin: 30px;
    width: 280px;
    





}

.content ul {
    display: flex;
    gap: 8px;
    padding: 0;
    margin: 0;
}



.content li {
    list-style: none;
    padding: 8px 14px;
    border-radius: 20px;
    background-color: #2a2a2a;

    font-weight: 600;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.content li:not(.active):hover {
    background-color: #3a3a3a;


}

.content li.active {
    background-color: #fff;
    color: #000;
    font-weight: 600;
}



.layout {
    display: flex;
    height: 79vh
}

.sidebar {
    width: 260px;
    padding: 10px;
}

.main {
    flex: 1;
    padding: 20px;
    padding-bottom: 0px;

}

#pele {
    height: 30px;
    border-radius: 20px;
    text-align: center;
}


/* .artist {
    margin-left: auto;
    padding: 0;
    width: 95vh;
    
    display: flex;
    justify-content:center;
    align-items: center;
    position: sticky;

    background-color: rgb(217, 217, 75);
    height: 12vh;


    border-radius: 30px;
        flex-direction: column;
    flex-wrap: wrap;
    

}

#range {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    margin-top: 0vh;
    margin-left: 5vh;


    width: 80vh;
    


} */
 .artist {
    position: fixed;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);

    width: 90%;
    max-width: 900px;
    height: 75px;

    background-color: rgb(217, 217, 75);
    border-radius: 30px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#range {
    margin-top: 1vh;
    width: 85%;
    cursor: pointer;
}


/* .play {
    size: 30px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    
    


} */
 
/* #songInfo{
    color: #faf4f4;
    position:absolute;
    left: 0px;
    margin: 45px;
    font-size:10px;
    cursor: default;
   
    
    
} */

.play {
    display: flex;
    cursor: pointer;
    gap: 10px;
    
}

#songInfo {
    margin: left 10px; ;
    color: #fff;
    font-size: 13px;
    
    display: flex;
    
    gap: 8px;
}



.songItem {
    cursor: pointer;
    height: 45px;
    background-color: antiquewhite;
    color: #0b0a0a;
    align-items: center;
    justify-content: space-between;
    margin: 12px 0;
    display: flex;
    width: 300px;
    border-radius: 30px;
    margin-left: 33px;



}
.songItem:hover{
    background-color: rgb(224, 221, 225);
}
.songItem img {
    margin-left: 10px;
    height: 35px;
    width: 35px;

}


.music {
    height: 290px;
    overflow-y: scroll;
}


#songInfo img {
    height: 14px;
    opacity: 0;
    transition: opacity 0.8s ease-in;
}


