body {
    display: flex;
    justify-content: center;
}

.navBar {
    display: flex;
    justify-content: center;
    background-color: #1DB954;
    padding: 15px 0;
}

.navBar1 ul {
    display: flex;
    gap: 20px;
    padding: 0;
    margin: 0;
    
}

.navBar1 li {
    list-style: none;
    color: white;
    font-weight: bold;
    cursor: pointer;
}
